
body {
	background-color: lightgrey;
}
.element {
  caret-color: red;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
h1 {
	color: grey;
	font-size: 40px;
  margin: auto;
  width: 20%;
  border: 1px solid black;
  padding: 20px;
}
p {
  font-size: 25px;
  margin: auto;
  width: 20%;
  padding: 5px;
  }
h2 {
  font-size: 15px;
  margin: auto;
  width: 20%;
  padding: 5px;
}
h3 {font-size: 15px;
  margin: auto;
  width: 20%;
  padding: 5px;
}
body{
  font-family:'ibm-plex-mono', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  font-style: normal;
}
li {
  font-size: 25px;
  margin: auto;
  width: 10%;
  color: darkgrey;
  background-color: transparent;
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  .inline-container{
  }
  h1{
    color: grey;
  font-size: 20px;
  margin: auto;
  width: 40%;
  border: 1px solid black;
  padding: 20px;
  }
  h2{
    font-size: 10px;
  margin: auto;
  width: 20%;
  padding: 2.5px;
  }
  h3{
    font-size: 10px;
  margin: auto;
  width: 20%;
  padding: 2.5px;
  }
  p {
  font-size: 15px;
  margin: auto;
  width: 40%;
  padding: 5px;
  }
  .img {
    width: 20%;
  }
  figure {
  font-size: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding: 5px;
  }
  li {
    font-size: 15px;
  margin: auto;
  width: 20%;
  padding: 5px;
  }
  