
body {
	background-color: grey;
}
.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
.btn:hover {background: #8ef5d2;}
.inline-container {
    display: grid; border-width: 10px 10px 10px 10px;
    grid-template-columns: 200px 200px 200px 200px 200px 200px 200px;
    grid-template-columns: repeat(6, 1fr);
    align-items: stretch;
}
body.darkmode {
  background: white;
  color: white;

  /*  redefine a CSS variable */
  /*--accent-color: rgb(0,255,0);*/
}

body.darkmode button{
  color: red;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
h1 {
  font-family: ccclobberintimesmooth, sans-serif;
  font-weight: 400;
  font-style: normal;
	color: #8ef5d2;
	font-size: 60px;
  margin: auto;
  width: 20%;
  border: 0px solid black;
  padding: 20px;
}
p {
  font-size: 25px;
  margin: auto;
  width: 20%;
  padding: 5px;
  color: 
  }
h2 {
  font-family: ccclobberintimesmooth, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  margin: auto;
  width: 40%;
  padding: 5px;
  color: #8ef5d2;
}
h3 {font-size: 15px;
  margin: auto;
  width: 20%;
  padding: 5px;
}
body{
  font-family:'ibm-plex-mono', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  font-style: normal;
}
li {
  font-size: 25px;
  margin: auto;
  width: 10%;
  color: darkgrey;
  background-color: transparent;
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  .inline-container{
  }
  h1{
    color: #8ef5d2;
  font-size: 15px;
  margin: auto;
  width: 15%;
  border: 0px solid black;
  padding: 10px;
  }
  h2{
    font-size: 10px;
  margin: auto;
  width: 20%;
  padding: 2.5px;
  }
  h3{
    font-size: 10px;
  margin: auto;
  width: 20%;
  padding: 2.5px;
  }
  p {
  font-size: 15px;
  margin: auto;
  width: 40%;
  padding: 5px;
  }
  .img {
    width: 20%;
  }
  figure {
  font-size: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding: 5px;
  }
  li {
    font-size: 15px;
  margin: auto;
  width: 20%;
  padding: 5px;
  }
  