*{
	  margin: 0;
	  padding: 0;
}

body{
    background-color: #524d4ddb;
    font-family:'ibm-plex-mono', sans-serif;
    font-weight: 400;
    font-size: 16px;
    /*text-align: center;*/
    font-style: normal;
}
img {
    
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

{	/*	define a CSS variable */
	--accent-color: rgb(0,0,255);
} 

.btn:hover {
    background: #00ff7e;
}
 .btn{
    border: none;
    background-color: inherit;
    padding: 14px 24px;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    font-family: antarctican-mono, sans-serif;
    color: white;
    font-weight: 700;
    font-style: normal;
}
.inline-container {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
}

.buttonlink{
    background: none;
    display: block;
    margin: 200px;

}
.container{
 	  width: 500px;
	  margin: auto;
}

.item{
	  border-top: 2px solid var(--accent-color);
	  padding: 2rem 0;
}
h4:hover {
  font-size: 100px;
  color: yellow;
}
.roo:hover {
  font-size: 140px;
  color: yellow;
}

h1{
    font-family: manicotti, sans-serif;
    font-weight: 400;
    font-style: normal;
	  font-size: 80px;
	  text-align: center;
	  color: white;
	  margin: 1rem auto;
}
h2{
    font-family: manicotti, sans-serif;
    font-weight: 400;
    font-style: normal;
	  font-size: 60px;
	  text-align: center;
	  color: white;
	  margin: 1rem auto;
}
h3{
	  font-family: antarctican-mono, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
	  margin:  0 .5rem 30px;
}
h4{
	  font-family: manicotti, sans-serif;
    font-weight: 400;
    font-style: normal;
	  font-size: 60px;
	  text-align: center;
	  margin: 1rem auto;
	  color: #00ff7e;
}
h5{
  font-family: antarctican-mono, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    color: tomato;
  }
h6{
  font-family: antarctican-mono, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    color: goldenrod;
  }
h7{
  font-family: antarctican-mono, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 28px;
    color: white;
  }
.roo{
    font-family: manicotti, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    text-align: center;
    margin: 1rem auto;
    color: #00ff7e;
}
p{
	  font-family: antarctican-mono, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    width: 500px;
    margin-left: 0px;
}


.item { 
	cursor: pointer;
}

.heading h2:before{
	content: '∞';
	display: inline-block;
	width: 30px;
}

.details{
	line-height: 1.3;
	color: var(--accent-color);
	display: none;
/*	height: 0;
	overflow: hidden;
	transition: height 400ms ease-in-out;*/
}



body.darkmode h1{
  color: pink;
}
body.darkmode h2{
  color: pink;
}
body.darkmode p{
  color: gray;
}
body.darkmode h7{
  color: pink;
}
body.darkmode {
  background: #fdfbfb;
  color: #607d8b;

  /*  redefine a CSS variable */
  /*--accent-color: rgb(0,255,0);*/
}

body.darkmode button2{
  color: goldenrod;
}
h1.darkmode{
  color: pink;
}

button2{
	font-size: 1rem;
	font-weight: bold;
	border: 2px solid var(--accent-color);
	background: transparent;
	padding: 0.5rem;
	margin-bottom: 1rem;
	border-radius: 5px;
	color: white;
}

button2:hover{
	background: rgb(200 200);
	cursor: pointer;
}
html, body {
  height: 100%;
}

.wrap {
  height: 00%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before, button:focus::before {
  opacity: 1;
}

button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}


/*	DARK MODE STYLES GO HERE */


