*{
	  margin: 0;
	  padding: 0;
}

body{
    background-color: #524d4ddb;
    font-family:'ibm-plex-mono', sans-serif;
    font-weight: 400;
    font-size: 16px;
    /*text-align: center;*/
    font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

 .btn:hover {
    background: #00ff7e;
}
 .btn{
    border: none;
    background-color: inherit;
    padding: 14px 24px;
    font-size: 200px;
    cursor: pointer;
    display: inline-block;
    font-family: antarctican-mono, sans-serif;
    color: red;
    font-weight: 700;
    font-style: normal;
}

.inline-container {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
}

.buttonlink{
    background: none;
    display: block;
    margin: 200px;

}
.container{
 	  width: 1500px;
    font-family: antarctican-mono, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
	  margin: auto;
}


h4:hover {
  font-size: 450px;
  color: yellow;
}
.softly:hover {
  font-size: 150px;
  color: lightyellow;
}

.roog-green:hover {
  font-size: 450px;
  color: yellow;

}

h1{
    font-family: manicotti, sans-serif;
    font-weight: 400;
    font-style: normal;
	  font-size: 180px;
	  text-align: center;
	  color: white;
	  margin: 1rem auto;
}
h2{
    font-family: antarctican-mono, sans-serif;
    font-weight: 400;
    font-style: normal;
	  font-size: 60px;
	  text-align: center;
	  color: white;
	  margin: 1rem auto;
}
h3{
    font-family: antarctican-mono, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    color: white;
    margin: 1rem auto;
	  
}
h4{
	  font-family: manicotti, sans-serif;
    font-weight: 400;
    font-style: normal;
	  font-size: 60px;
	  text-align: left;
	  margin: 1rem auto;
	  color: #00ff7e;
    transition: color 300ms ease-in-out, font-size 300ms ease-in-out;
}
h5{
  font-family: antarctican-mono, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    width: 500px;
    margin-left: 25px;
    color: tomato;
  }
h6{
  font-family: antarctican-mono, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    width: 500px;
    margin-left: 25px;
    color: aquamarine;
  }
.softly{
    font-family: manicotti, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align: left;
    margin: 1rem auto;
    color: #00ff7e;
    transition: color 1200ms ease-in-out, font-size 1200ms ease-in-out;
}
.roog-green{
    font-family: manicotti, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    text-align: left;
    margin: 1rem auto;
    color: #00ff7e;
    transition: color 100ms ease-in-out, font-size 100ms ease-in-out;
}
.roo{
    font-family: manicotti, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 200px;
    text-align: left;
    margin: 1rem auto;
    color: orange;
    transition: color 600ms ease-in-out, font-size 600ms ease-in-out;
}
.roo:hover{
  font-family: manicotti, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 400px;
    text-align: left;
    margin: 1rem auto;
    color: red;

}
p{
	  font-family: antarctican-mono, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: white;
    width: 500px;
    margin-left: 15px;
}


body.darkmode h1{
  color: pink;
}
body.darkmode h2{
  color: pink;
}
body.darkmode p{
  color: gray;
}
body.darkmode h7{
  color: pink;
}
body.darkmode {
  background: #fdfbfb;
  color: #607d8b;
}

/*body.darkmode button2{
  color: goldenrod;
}
*/
#barkmode{
  color: goldenrod;
}

#roogmode{
   color: aquamarine;
}
/*body.darkmode button3{
  color: aquamarine;
}*/
h1.darkmode{
  color: pink;
}

.barkmode{
	font-size: .75rem;
	font-weight: bold;
	border: 2px solid var(--accent-color);
	background: transparent;
	padding: 0.5rem;
	margin-bottom: 1rem;
	border-radius: 5px;
	color: #00ff7e;
}

.barkmode:hover{
	background: rgb(200 200);
	cursor: pointer;
}
.roogmode{
  font-size: .75rem;
  font-weight: bold;
  border: 2px solid var(--accent-color);
  background: transparent;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  color: aquamarine;
}

.roogmode:hover{
  background: rgb(200 200);
  cursor: pointer;
}

html, body {
  height: 100%;
  width: 100%;
}

.wrap {
  height: 00%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: white;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

button::before {
  content: '';
  color: white;
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
  color: aquamarine;
  transform: translateY(-6px);
}

button:hover::before, button:focus::before {
  opacity: 1;
}

button::after {
  content: 'roog';
  color: white;
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid aquamarine;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

@media screen and (max-width: 500px) {
  .inline-container{
  }
 img{
    width: 20px;
    height: 20px;

  }
 h1{
    font-size: 140px;
    text-align: center;
    margin: 1rem auto;
  }
  h2{
    font-size: 30px;
    text-align: center;
    margin: 1rem auto;
  }
  h3{
    font-size: 18px;
  }
  h4{
    font-size: 30px;
  }
  h5{
    font-size: 20px;
  }
  h6{
    font-size: 20px;
  }
  p{
    font-size: 12px;
  }
 
  h4:hover {
  font-size: 150px;
  }
  .roo {
  font-size: 60px;
  }
  .roo:hover {
  font-size: 120px;
  }

  .roog-green:hover {
  font-size: 150px;
  }
  .wrap{
  height: 00%;
  display: flex;
  align-items: center;
  justify-content: left;
  }
  .button {
  min-width: 150px;
  min-height: 30px;
  font-size: 11px;
  }
  .button::after {
  content: 'rooG';
  color: white;
  width: 15px; height:150px;
  border-radius: 100%;
  border: 6px solid aquamarine;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
  }
  .container{
    width: 1500px;
    font-family: antarctican-mono, sans-serif;
    font-weight: 00;
    font-style: normal;
    font-size: 10px;
    margin: auto;
  }
  img {
  width: 500px;
  max-width: 100%;
  height: auto;
  }





