.inline-container {
		display: grid;
		grid-template-columns: 240px 240px 240px 240px 240px 240px 240px;

}
img {
    
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

div {
  	background: #f5f4e8;
  	font-size: 20px;
  }
.item {
  border: 1px solid #3c3b46;
  padding: 0px;
  font-size: 20px;
	
}
body{
	font-family: 'roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
	margin: 0;
}

main{
	margin: 1rem;
	max-width: 60%;
	margin: auto;
}

h1,h2,h3 {
	font-family: 'roboto', sans-serif;
	font-weight: normal;
	text-align: center;
}

h1{
	font-size: 5rem;
	
}


h2 {
	font-size: 3rem;
	
}

.color{
	width: 100px;
	height: 100px;
	margin: 10px;
}

.palette{
	display: flex;
}

.primary{
	flex: 2;
	background: #3c3b46;
}

.secondary, .tertiary{
	flex: 1;
}

.secondary{
	background: #f5f4e8;
}

.tertiary{
	background: #1a135f;
}
.tertiary{
	flex: 2;
}